@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,800);

body {
	font-family: Raleway, sans-serif;
	font-size: 18px;
	line-height: 140%;
}


a, a:hover {
	color: #FFE;
	text-decoration: none;
	border-bottom: 1px solid white;
}
	a:hover, a:active {
		text-decoration: none;
	}

li {
	line-height: 125%;
}

img {
	border: 1px solid black;
}

.navbar {
	margin-bottom: 0
}

p.deck {
	margin-bottom: 1em;
	font-size: 30px;
	line-height: 125%;
}

h2, h3, h4 {
	font-weight: bold;
}
h4 {
	font-style: italic;
}
	h4:before { content: "-"; }
	h4:after { content: "-"; }

blockquote {
	line-height: 125%;
}

.colorful-panel {
padding: 3em 0;
color: white;            
}
.colorful-panel h2 {
margin: 0 0 1em 0;
font-weight: normal;
}
.colorful-panel h3 a:hover {
  border-bottom: 2px solid white;
}
.colorful-panel dt {
font-style: italic;
}

.by-the-numbers dt {
font-style: normal;
font-weight: normal;
font-size: 175%;
}

ul.inline-list {
padding: 0;
}
.inline-list li {
padding: 0 1.5em 0 0;
display: inline-block;
}

@media screen and (max-width: 992px) {
	#sponsors img {
		margin-bottom: 1em;
	}
}

.teamphotos p {
margin-bottom: 2em;
}

.invert-panel {
	color: #333;
}
	.invert-panel a {
		color: black;
		border-bottom: 1px solid black;
	}

.wide-image {
	width: 100%;
}